:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: white;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
  background-color: #36b7b7;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  margin-top: -5px;
  margin-left: -5px;
}

.gallery__item {
  margin-top: 5px;
  margin-left: 5px;

  flex-basis: calc((100% - 90px) / 3);
}

.info-item {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.1em;
  color: #36b7b7;
}

.nums {
  font-weight: 400;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.btn.is-hidden {
  display: none;
}

.btn .load-more {
  color: #ffffff;
  background-color: #36b7b7;
  width: 130px;
  height: 40px;
  border: none;
}

.load-more:hover {
  transform: scale(1.03);
}

.is-hidden {
  display: none;
}
